* {
    margin: 0;
    padding: 0;
    color: rgb(208, 208, 208);
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(16, 12, 24);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    height: 85vh;
    width: 100%;
}

header {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#Loginbox {
    display: block;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 40%;
    margin-left: 35%;
}



footer {
    height: 5vh;
    width: 100%;
}